  <link rel="stylesheet" type="text/css" href="assets/materialize.css">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  


  <ion-header>
  	<ion-navbar>
  		<ion-title>
  			Réalisations
  		</ion-title>
  	</ion-navbar>
  </ion-header>

  <ion-content  class="realisations center-align">
  	<h2>Nos réalisations</h2>

  	
  	<div class="row realisations">

  		<button ion-button color="secondary" class="col s3 filter" onclick="tout()" id="btnall">Tout</button>
  		<button ion-button color="secondary" class="col s3 filter" id="btnhebergement" onclick="hebergement()">Hébergement</button>
  		<button ion-button color="secondary"  id="btnweb" class="col s3 filter" onclick="web()">Création web</button>
  		<button ion-button color="secondary" id="btngraphisme" class="col s3 filter" onclick="graphisme()">Graphisme</button>
  	</div>

  	<div id="hebergement">
  		<h3 class="">Hébergement web & mail</h3>

  		<div class="row col s12 nm">
  			<div class="card horizontal">
  				<div class="card-image">
  					<img src="assets/salome-400x284.jpg">
  				</div>
  				<div class="card-stacked">
  					<div class="card-content"><a href="https://www.salomedemartis.com/" target="_blank"><p class="bolder">Salomé Demartis</p></a>
  						<p>Étudiante en graphisme et communication.</p></div>
  					</div>
  				</div>
  			</div>


  			<div class="row col s12 nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/pixelads-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://www.pixelads.fr/" target="_blank"><p class="bolder">Pixelads</p></a>
  							<p>Association à but non lucratif innovante.</p>
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/trm-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://trm54.fr" target="_blank"><p class="bolder">TRM</p></a>
  							<p>Centrale à enrobés dans le Grand Est.</p>
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/thiriet-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://thiriettp.fr" target="_blank"><p class="bolder">L Thiriet TP</p></a><p>Entreprise de travaux publics dans le Grand Est.</p></div>
  					</div>
  				</div>
  			</div>
  		</div>

  		<div id="web">
  			<h3 class="">Création web</h3>

  			<div class="row col s12 nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/planta-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://www.rhumerielaplantation.fr/" target="_blank"><p class="bolder">La Plantation</p></a>
  							<p>Rhumerie à Nancy (Grand Est).</p>
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/atelier-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="https://www.atelier603.qu-be.fr/" target="_blank"><p class="bolder">Atelier 603</p></a><p>Agence de communication étudiante.</p></div>
  					</div>
  				</div>
  			</div> 

  			<div class="rocol s12 w nm">
  				<div class="card horizontal">
  					<div class="card-image">
  						<img src="assets/thiriet-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://thiriettp.fr" target="_blank"><p class="bolder">L Thiriet TP</p></a><p>Entreprise de travaux publics dans le Grand Est.</p></div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class=" card horizontal">
  					<div class="card-image">
  						<img src="assets/trm-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="http://trm54.fr" target="_blank"><p class="bolder">TRM</p></a>
  							<p>Centrale à enrobés dans le Grand Est.</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

  		<div id="graphisme">
  			<h3 class="">Graphisme</h3>
  			<div class="row col s12 nm">
  				<div class=" card horizontal">
  					<div class="card-image">
  						<img src="assets/flyers.png">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="https://thiriettp.fr" target="_blank"><p class="bolder">L Thiriet TP</p></a>
  							<p>Flyers pour la société L Thiriet TP.</p>
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class=" card horizontal">
  					<div class="card-image">
  						<img src="assets/augustin-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="https://soundcloud.com/augustinh-1" target="_blank"><p class="bolder">Augustin Hanriot</p></a>
  							<p>Logo pour DJ.</p>
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="row col s12 nm">
  				<div class=" card horizontal">
  					<div class="card-image">
  						<img src="assets/zeynj-400x284.jpg">
  					</div>
  					<div class="card-stacked">
  						<div class="card-content"><a href="https://www.youtube.com/channel/UCzNBE_eV2hQCmaxH3wxxSVw" target="_blank"><p class="bolder">Zeynj</p></a>
  							<p>Logo pour Youtuber gaming.</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</ion-content>
  	

