<ion-tabs #myTabs>
  <ion-tab [root]="tab1Root" tabTitle="Accueil" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Réalisations" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="AR View" tabIcon="phone-portrait"></ion-tab>
</ion-tabs>
