/* Empty. Add your own CSS if you like */
.img-responsive {
	width: 100%;
	height: auto;
}

.realisations img:hover {
	
	opacity: 0.6;

}

#mailer {
  color: white;
}

h2.center-align {
  text-align: center;
  font-size: 3.56rem;
  line-height: 110%;
  margin: 1.78rem 0 1.424rem 0;
  font-weight: 400;

}

input:focus, textarea:focus {
  border-bottom: 1px solid #e8495e !important;
  box-shadow: 0 1px 0 0 #e8495e !important;
}

input:focus + label {
  color: #e8495e !important;
}

.active {

  background-color: #e8495e;

}

.card-content h4, .card-content h4, .card-action p,  .card-content a, .image_blog{
	color: #29353a !important;
}

.bolder {
	font-weight: bolder;
}

.image_blog img:hover {
    animation: animationFrames linear 1.5s forwards;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1.5s forwards;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1.5s forwards;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1.5s forwards;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1.5s forwards;
    -ms-transform-origin: 50% 50%;
}


.white {
	background-color: white;
	width: 100%;
}

button[_ngcontent-qlm-42]:focus {
    outline: none;
    background-color: #29353a;
}

.realisations button{
	border-radius: 0px;
	color: white;
}

.mt {
	margin-top: 20px;
}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  rotate(-3deg) scaleX(0.70) scaleY(0.70) ;
  }
  20% {
    transform:  rotate(-3deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  40% {
    transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  50% {
    transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  60% {
    transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  70% {
    transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  80% {
    transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  90% {
    transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    moz-transform:  rotate(-3deg) scaleX(0.70) scaleY(0.70) ;
  }
  20% {
    moz-transform:  rotate(-3deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    moz-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  40% {
    moz-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  50% {
    moz-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  60% {
    moz-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  70% {
    moz-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  80% {
    moz-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  90% {
    moz-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  100% {
    moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.70) scaleY(0.70) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -o-transform:  rotate(-3deg) scaleX(0.70) scaleY(0.70) ;
  }
  20% {
    -o-transform:  rotate(-3deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -o-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  40% {
    -o-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -o-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  60% {
    -o-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  70% {
    -o-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  80% {
    -o-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  90% {
    -o-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  100% {
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -ms-transform:  rotate(-3deg) scaleX(0.70) scaleY(0.70) ;
  }
  20% {
    -ms-transform:  rotate(-3deg) scaleX(0.90) scaleY(0.90) ;
  }
  30% {
    -ms-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  40% {
    -ms-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -ms-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  60% {
    -ms-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  70% {
    -ms-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  80% {
    -ms-transform:  rotate(-3deg) scaleX(1) scaleY(1) ;
  }
  90% {
    -ms-transform:  rotate(3deg) scaleX(1) scaleY(1) ;
  }
  100% {
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}