  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <link rel="stylesheet" type="text/css" href="assets/materialize.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <ion-header>
    <ion-navbar>
      <ion-title>
        Contact
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content >

    <h2 class="center-align">Nous contacter</h2>


<div class="row">
    <form class="col s12">
        <div class=" col s6">
          <input id="nom" type="text" placeholder="Nom / Société" class="validate" required>
        </div>
        <div class=" col s6">
          <input id="email" type="email" placeholder="Email" class="validate" required>
        </div>
        <div class=" col s12">
          <input id="sujet" type="text" placeholder="Sujet" class="validate" required>
        </div>
        <div class=" col s12">
          <textarea class="materialize-textarea" id="texte" type="text" placeholder="Texte" required></textarea>
        </div>

        <button id="mailer" ion-button block icon-right onclick="mail()">
          Envoyer
          <ion-icon name="send"></ion-icon>
        </button>
        <p id="token"></p>


    </form>
</div>
<p class="center-align">Cela pourraît vous intéresser :</p>
<video controls style="width: 100%;" poster="assets/logo.png">
   <source src="assets/pixelads.mp4" type="video/mp4">
   <track kind="subtitles" src="assets/soustitres_fr.vtt" srclang="en" label="English" default>
</video>
</ion-content>
