  <link rel="stylesheet" type="text/css" href="assets/materialize.css">
  <link rel="stylesheet" type="text/css" href="assets/style.css">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <ion-header>
    <ion-navbar>
      <ion-title>Accueil</ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content class="">
   <img src="assets/logo.png" class="img-responsive col s12 row">
   <p class="center-align col s12 row">Nous sommes deux auto-entrepreneurs qui collaborent ensemble depuis 2012, dans deux domaines et lieux différents.</p>

   <div class="row nm">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="assets/quentinn.jpg" id="ok">
        </div>
        <div class="card-content">
          <h4>Quentin Lesdalons</h4>
          <p>Diplômé d’un baccalauréat technologique, puis d’un DUT des métiers de l’internet, j’étudie actuellement en Licence Professionnelle Concepteur Intégrateur de Systèmes Internet/Intranet pour l’Entreprise. Je créé des sites internet sur-mesure pour les organisations ainsi que des éléments graphiques.</p><br/>
          <p># Développement web, Graphisme</p>
        </div>
        <div class="card-action">
          <p class=""><i class="small material-icons left">perm_identity</i>20 ans</p>
          <p class=""><i class="small material-icons left">location_on</i>Nancy</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="assets/baptiste.png">
        </div>
        <div class="card-content">
          <h4>Baptiste Brussee</h4>
          <p>Titulaire d’une Licence Professionnelle dans le domaine de l’informatique pour les entreprises, je suis aujourd’hui étudiant en alternance dans une formation de Manager des Systèmes d’Informations. Je m’occupe depuis 2012 de l’hébergement de sites web associatifs en tant que bénévole.</p><br/>
          <p># Administration, Réseaux</p>
        </div>
        <div class="card-action">

          <p class=""><i class="small material-icons left">perm_identity</i>21 ans</p>
          <p class=""><i class="small material-icons left">location_on</i>Nantes</p>
        </div>
      </div>
    </div>

  </div>

    <div class="row mt">
    <div class="col s12 center-align image_blog">
        <img src="assets/server.png" class="">
        <h4>Hébergement web & mail</h4>
        <p>Mettez en ligne votre site internet sur un hébergement sur mesure et sécurisé, créez des adresses mails en utilisant le nom de votre organisation.</p>
      </div></div>
      <div class="row">
      <div class="col s12 center-align image_blog">
          <img src="assets/web.jpg" class="">
          <h4>Création de site internet / programme sur-mesure</h4>
          <p>Être présent sur le web est primordial, nous créons des sites internet sur-mesure afin de vous démarquer de la concurrence.</p>
        </div></div>
        <div class="row">
        <div class="col s12 center-align image_blog">
            <img src="assets/print.png" class="">
            <h4>Création graphique</h4>
            <p>Création graphique
              Un logo, une carte de visite en passant par des flyers, demandez la création d’éléments qui vous ressemble.</p>
            </div>
          </div>


      </ion-content>
